<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ContentHub -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.enithing.fragmenthub.model.contenthub.presentation.ContentHubModelWizardID"
            name="%_UI_ContentHubModelWizard_label"
            class="de.enithing.fragmenthub.model.contenthub.presentation.ContentHubModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ContentHubModelFile.gif">
         <description>%_UI_ContentHubModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ContentHub -->
      <editor
            id="de.enithing.fragmenthub.model.contenthub.presentation.ContentHubEditorID"
            name="%_UI_ContentHubEditor_label"
            icon="icons/full/obj16/ContentHubModelFile.gif"
            extensions="chub"
            class="de.enithing.fragmenthub.model.contenthub.presentation.ContentHubEditor"
            contributorClass="de.enithing.fragmenthub.model.contenthub.presentation.ContentHubActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ContentHub -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.enithing.fragmenthub.model.contentfragment.presentation.ContentFragmentModelWizardID"
            name="%_UI_ContentFragmentModelWizard_label"
            class="de.enithing.fragmenthub.model.contentfragment.presentation.ContentFragmentModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ContentFragmentModelFile.gif">
         <description>%_UI_ContentFragmentModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ContentHub -->
      <editor
            id="de.enithing.fragmenthub.model.contentfragment.presentation.ContentFragmentEditorID"
            name="%_UI_ContentFragmentEditor_label"
            icon="icons/full/obj16/ContentFragmentModelFile.gif"
            extensions="contentfragment"
            class="de.enithing.fragmenthub.model.contentfragment.presentation.ContentFragmentEditor"
            contributorClass="de.enithing.fragmenthub.model.contentfragment.presentation.ContentFragmentActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ContentHub -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.enithing.fragmenthub.model.contentfragment.corefields.presentation.CorefieldsModelWizardID"
            name="%_UI_CorefieldsModelWizard_label"
            class="de.enithing.fragmenthub.model.contentfragment.corefields.presentation.CorefieldsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CorefieldsModelFile.gif">
         <description>%_UI_CorefieldsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ContentHub -->
      <editor
            id="de.enithing.fragmenthub.model.contentfragment.corefields.presentation.CorefieldsEditorID"
            name="%_UI_CorefieldsEditor_label"
            icon="icons/full/obj16/CorefieldsModelFile.gif"
            extensions="corefields"
            class="de.enithing.fragmenthub.model.contentfragment.corefields.presentation.CorefieldsEditor"
            contributorClass="de.enithing.fragmenthub.model.contentfragment.corefields.presentation.CorefieldsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ContentHub -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.enithing.fragmenthub.model.contentfragment.corefields.validation.presentation.ValidationModelWizardID"
            name="%_UI_ValidationModelWizard_label"
            class="de.enithing.fragmenthub.model.contentfragment.corefields.validation.presentation.ValidationModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ValidationModelFile.gif">
         <description>%_UI_ValidationModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ContentHub -->
      <editor
            id="de.enithing.fragmenthub.model.contentfragment.corefields.validation.presentation.ValidationEditorID"
            name="%_UI_ValidationEditor_label"
            icon="icons/full/obj16/ValidationModelFile.gif"
            extensions="validation"
            class="de.enithing.fragmenthub.model.contentfragment.corefields.validation.presentation.ValidationEditor"
            contributorClass="de.enithing.fragmenthub.model.contentfragment.corefields.validation.presentation.ValidationActionBarContributor">
      </editor>
   </extension>

</plugin>
