<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<?eclipse version="3.0"?>

<!--
-->


<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ContentHub -->
      <package
            uri="https://aemcontenthub.eniware-systems.de/ns/contenthub"
            class="de.enithing.contenthub.model.contenthub.ContentHubPackage"
            genModel="model/ContentHub.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ContentHub -->
      <package
            uri="https://aemcontenthub.eniware-systems.de/ns/contentfragments"
            class="de.enithing.contenthub.model.contenthub.contentfragment.ContentfragmentPackage"
            genModel="model/ContentHub.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ContentHub -->
      <package
            uri="https://aemcontenthub.eniware-systems.de/ns/contentfragments/corefields"
            class="de.enithing.contenthub.model.contenthub.contentfragment.corefields.CorefieldsPackage"
            genModel="model/ContentHub.genmodel"/>
   </extension>

</plugin>
