<$tagName
#foreach ($attrib in $attribs.entrySet())
    $attrib.key="$attrib.value"
#end
	>
#if($isMultifield)
	<field
#foreach ($attrib in $fieldAttribs.entrySet())
    	$attrib.key="$attrib.value"
#end
	>
        <granite:data
		#foreach ($attrib in $fieldGraniteAttribs.entrySet())
		    	$attrib.key="$attrib.value"
		#end
		/>
    </field>
#else
    <field jcr:primaryType="nt:unstructured"/>
#end
	<optionsmultifield jcr:primaryType="nt:unstructured">
	#foreach ($item in $items)
        <$item.tag
            jcr:primaryType="nt:unstructured"
            fieldLabel="$item.label"
            fieldValue="$item.value"/>
    #end
    </optionsmultifield>
    <datasource
        jcr:primaryType="nt:unstructured"
        sling:resourceType="dam/cfm/admin/components/datasources/optionrendererenumeration"
        variant="default"/>
    <granite:data 
    #foreach ($attrib in $graniteAttribs.entrySet())
		$attrib.key="$attrib.value"
	#end
    />
</$tagName>