<?xml version="1.0" encoding="UTF-8"?>
<jcr:root xmlns:sling="http://sling.apache.org/jcr/sling/1.0" xmlns:jcr="http://www.jcp.org/jcr/1.0" xmlns:nt="http://www.jcp.org/jcr/nt/1.0" xmlns:rep="internal"#if($contextTitle) 
	jcr:title="$contextTitle"#end
    jcr:primaryType="$contextPrimaryType">
    <jcr:content
        jcr:lastModified="{Date}$packageDate"
        jcr:lastModifiedBy="$packageCreator"
        jcr:primaryType="nt:unstructured"
        jcr:title="$contextTitle"
        metadataSchema="System Default"
        processingProfile="System Default"
        sourcing="false">
        <policies jcr:primaryType="nt:unstructured">
        	$renderedPolicies
        </policies>
    </jcr:content>
</jcr:root>